flows.json
[{"id":"c4327114.1251","type":"tab","label":"Splash Screen","disabled":false,"info":""},{"id":"3887df6d.a64d1","type":"tab","label":"Home","disabled":false,"info":""},{"id":"4b06dc77.7b3c84","type":"tab","label":"Field","disabled":false,"info":""},{"id":"501ac050.9ebde","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"bd04d58b.baf0c8","type":"tab","label":"Control Unit","disabled":false,"info":""},{"id":"2fa77de2.f0d422","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0080c0","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000040","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#2a2a2a","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":40,"gy":40,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a4fabce5.07678","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"115ozv.messaging.internetofthings.ibmcloud.com/","cleansession":true,"appId":"","shared":false},{"id":"4b6b0635.4d79b8","type":"ui_group","z":"","name":"Temperature","tab":"de2d901e.b1b89","order":1,"disp":true,"width":"6","collapse":false},{"id":"bdc26d8.d4cc69","type":"ui_group","z":"","name":"Temperature","tab":"672f56a8.ba5838","order":1,"disp":true,"width":"6","collapse":false},{"id":"9afc98d0.aedae8","type":"ui_group","z":"","name":"Motor Control","tab":"6cf28bac.733074","order":1,"disp":true,"width":"6","collapse":false},{"id":"7418789.e3d7888","type":"ui_tab","z":"","name":"Smart Agriculture System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d3705f46.e0c9e","type":"ui_spacer","name":"spacer","group":"537966a7.2a7b98","order":3,"width":1,"height":1},{"id":"28b57718.14c8d8","type":"ui_spacer","z":"","name":"spacer","group":"537966a7.2a7b98","order":1,"width":1,"height":1},{"id":"71ed3714.ded818","type":"ui_spacer","name":"spacer","group":"537966a7.2a7b98","order":2,"width":1,"height":1},{"id":"d7ec7b1d.9042d8","type":"ui_spacer","name":"spacer","group":"537966a7.2a7b98","order":6,"width":1,"height":1},{"id":"3b393602.84dbea","type":"ui_group","z":"","name":"Press \"Enter\" To Continue","tab":"7418789.e3d7888","order":1,"disp":true,"width":"5","collapse":false},{"id":"215043b1.d6818c","type":"ui_spacer","name":"spacer","group":"78b6e2c8.3c215c","order":1,"width":1,"height":"10"},{"id":"9a930d2b.2e4a6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fa84b451.64f408","type":"ui_group","z":"","name":"Control Unit","tab":"9a930d2b.2e4a6","order":3,"disp":true,"width":"6","collapse":false},{"id":"b9cf38c4.7cb8b8","type":"ui_group","z":"","name":"Weather","tab":"9a930d2b.2e4a6","order":2,"disp":true,"width":"6","collapse":false},{"id":"6fb2197c.ce12b8","type":"ui_group","z":"","name":"Field","tab":"9a930d2b.2e4a6","order":1,"disp":true,"width":"6","collapse":false},{"id":"de2d901e.b1b89","type":"ui_tab","z":"","name":"Field","icon":"dashboard","order":5,"disabled":false,"hidden":true},{"id":"672f56a8.ba5838","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","order":6,"disabled":false,"hidden":true},{"id":"6cf28bac.733074","type":"ui_tab","z":"","name":"Control Unit","icon":"dashboard","order":7,"disabled":false,"hidden":true},{"id":"b26545a2.023618","type":"ui_group","z":"","name":"Humidity","tab":"de2d901e.b1b89","order":2,"disp":true,"width":"6","collapse":false},{"id":"11a6c928.f21cf7","type":"ui_group","z":"","name":"Soil Moisture","tab":"de2d901e.b1b89","order":3,"disp":true,"width":"6","collapse":false},{"id":"696d436d.7164ec","type":"ui_group","z":"","name":"","tab":"de2d901e.b1b89","order":4,"disp":false,"width":"1","collapse":false},{"id":"384e2d0e.067492","type":"ui_group","z":"","name":"Pressure","tab":"672f56a8.ba5838","order":2,"disp":true,"width":"6","collapse":false},{"id":"afc2870e.2a1f38","type":"ui_group","z":"","name":"Humidity","tab":"672f56a8.ba5838","order":3,"disp":true,"width":"6","collapse":false},{"id":"6e51df2a.4c568","type":"ui_group","z":"","name":"","tab":"6cf28bac.733074","order":4,"disp":false,"width":"1","collapse":false},{"id":"ac159b26.babf68","type":"ui_group","z":"","name":"","tab":"9a930d2b.2e4a6","order":4,"disp":false,"width":"1","collapse":false},{"id":"9c31e283.0fff9","type":"ui_link","z":"","name":"Simulator","link":"https://watson-iot-sensor-simulator.mybluemix.net/","icon":"open_in_browser","target":"iframe","order":4},{"id":"23773513.e3f38a","type":"ui_group","z":"","name":"","tab":"672f56a8.ba5838","order":4,"disp":false,"width":"1","collapse":false},{"id":"ac183d14.978ae","type":"ibmiot out","z":"bd04d58b.baf0c8","authentication":"apiKey","apiKey":"a4fabce5.07678","outputType":"cmd","deviceId":"Smart_Agriculture_System","deviceType":"NodeMCU","eventCommandType":"button","format":"json","data":"Data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":140,"wires":[]},{"id":"b1929ebf.b31df","type":"ui_template","z":"c4327114.1251","group":"3b393602.84dbea","name":"Splash Screen","order":2,"width":0,"height":0,"format":"\n<style>\n    body {\n        background-image: url(\"https://i.pinimg.com/originals/d5/69/12/d56912e297cf3a797d5d5c728a23fda9.gif\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size:cover;\n        \n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":160,"wires":[[]]},{"id":"f2930e15.98cd7","type":"ui_button","z":"c4327114.1251","name":"Enter Button","group":"3b393602.84dbea","order":3,"width":"5","height":"1","passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"1\"}","payloadType":"json","topic":"","x":290,"y":260,"wires":[["56859b23.ba9d74"]]},{"id":"56859b23.ba9d74","type":"ui_ui_control","z":"c4327114.1251","name":"Login","events":"all","x":670,"y":260,"wires":[[]]},{"id":"4ad3793a.1f7788","type":"ui_button","z":"3887df6d.a64d1","name":"","group":"6fb2197c.ce12b8","order":2,"width":6,"height":2,"passthru":false,"label":"Simulator Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Field\"}","payloadType":"json","topic":"","x":360,"y":160,"wires":[["7e198928.0c3028"]]},{"id":"45463872.150108","type":"ui_button","z":"3887df6d.a64d1","name":"","group":"b9cf38c4.7cb8b8","order":1,"width":6,"height":2,"passthru":false,"label":"API Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Weather\"}","payloadType":"json","topic":"","x":350,"y":240,"wires":[["1c359512.69defb"]]},{"id":"a89ae34e.76b0d","type":"ui_button","z":"3887df6d.a64d1","name":"","group":"fa84b451.64f408","order":1,"width":6,"height":2,"passthru":false,"label":"Controls","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Control Unit\"}","payloadType":"json","topic":"","x":350,"y":320,"wires":[["f35fb8bb.f4e3e8"]]},{"id":"7e198928.0c3028","type":"ui_ui_control","z":"3887df6d.a64d1","name":"To simulator Data","events":"all","x":650,"y":160,"wires":[[]]},{"id":"1c359512.69defb","type":"ui_ui_control","z":"3887df6d.a64d1","name":"To Weather Data","events":"all","x":650,"y":240,"wires":[[]]},{"id":"f35fb8bb.f4e3e8","type":"ui_ui_control","z":"3887df6d.a64d1","name":"To Control Unit","events":"all","x":640,"y":320,"wires":[[]]},{"id":"de4dc324.2181f","type":"ibmiot in","z":"4b06dc77.7b3c84","authentication":"apiKey","apiKey":"a4fabce5.07678","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Smart_Agriculture_System","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":240,"wires":[["53c5887b.984fe8","c0e9f1a7.c11d9","40ed739b.8a0eac","97e10230.339f4"]]},{"id":"53c5887b.984fe8","type":"debug","z":"4b06dc77.7b3c84","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":240,"wires":[]},{"id":"40ed739b.8a0eac","type":"function","z":"4b06dc77.7b3c84","name":"Humidity","func":"msg.payload = msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["557d16d3.f1f968"]]},{"id":"c0e9f1a7.c11d9","type":"function","z":"4b06dc77.7b3c84","name":"Temperature","func":"msg.payload = msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["ab3fb1f8.c393f"]]},{"id":"97e10230.339f4","type":"function","z":"4b06dc77.7b3c84","name":"Soil Moisture","func":"msg.payload = msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["37c22f93.ca2ce"]]},{"id":"ab3fb1f8.c393f","type":"ui_gauge","z":"4b06dc77.7b3c84","name":"Temperature","group":"4b6b0635.4d79b8","order":1,"width":"6","height":"5","gtype":"wave","title":"","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":100,"wires":[]},{"id":"557d16d3.f1f968","type":"ui_gauge","z":"4b06dc77.7b3c84","name":"Humidity","group":"b26545a2.023618","order":1,"width":"6","height":"5","gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":180,"wires":[]},{"id":"37c22f93.ca2ce","type":"ui_gauge","z":"4b06dc77.7b3c84","name":"Soil Moisture","group":"11a6c928.f21cf7","order":1,"width":"6","height":"5","gtype":"donut","title":"","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":360,"wires":[]},{"id":"aee91571.b9ace8","type":"ui_button","z":"4b06dc77.7b3c84","name":"","group":"696d436d.7164ec","order":1,"width":"1","height":"1","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":290,"y":500,"wires":[["f830b3d1.1b7ca"]]},{"id":"f830b3d1.1b7ca","type":"ui_ui_control","z":"4b06dc77.7b3c84","name":"To Home","events":"all","x":570,"y":500,"wires":[[]]},{"id":"a99a898a.39cbd8","type":"inject","z":"501ac050.9ebde","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":170,"y":220,"wires":[["f7f48908.454138"]]},{"id":"f7f48908.454138","type":"http request","z":"501ac050.9ebde","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.openweathermap.org/data/2.5/weather?q=Bhopal&appid=1e572465a6f7b6478bbd61535f6b9e28","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":220,"wires":[["841a75b5.6499f8","a56991ad.693ff","2bf62a15.dfc706","2c191bd0.c16544"]]},{"id":"841a75b5.6499f8","type":"debug","z":"501ac050.9ebde","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":220,"wires":[]},{"id":"a56991ad.693ff","type":"function","z":"501ac050.9ebde","name":"Temperature","func":"msg.payload = msg.payload.main.temp;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["2d1e554d.fc5c2a"]]},{"id":"2bf62a15.dfc706","type":"function","z":"501ac050.9ebde","name":"Humidity","func":"msg.payload = msg.payload.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["a39b719b.ad32e"]]},{"id":"2c191bd0.c16544","type":"function","z":"501ac050.9ebde","name":"Pressure","func":"msg.payload = msg.payload.main.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":380,"wires":[["8b675f24.13489"]]},{"id":"2d1e554d.fc5c2a","type":"ui_gauge","z":"501ac050.9ebde","name":"Temperature","group":"bdc26d8.d4cc69","order":1,"width":"6","height":"5","gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":120,"wires":[]},{"id":"a39b719b.ad32e","type":"ui_gauge","z":"501ac050.9ebde","name":"Humidity","group":"afc2870e.2a1f38","order":1,"width":"6","height":"5","gtype":"gage","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":300,"wires":[]},{"id":"8b675f24.13489","type":"ui_gauge","z":"501ac050.9ebde","name":"Pressure","group":"384e2d0e.067492","order":1,"width":"6","height":"5","gtype":"wave","title":"","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":380,"wires":[]},{"id":"94fdd3b9.44c53","type":"ui_button","z":"501ac050.9ebde","name":"","group":"23773513.e3f38a","order":1,"width":"1","height":"1","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":310,"y":500,"wires":[["c31b4370.399d4"]]},{"id":"c31b4370.399d4","type":"ui_ui_control","z":"501ac050.9ebde","name":"To Home","events":"all","x":590,"y":500,"wires":[[]]},{"id":"b78f4e5a.5e067","type":"ui_button","z":"3887df6d.a64d1","name":"","group":"ac159b26.babf68","order":1,"width":"1","height":"1","passthru":false,"label":"Exit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Smart Agriculture System\"}","payloadType":"json","topic":"","x":350,"y":420,"wires":[["6e1869e1.4a4468"]]},{"id":"7754044e.54910c","type":"ui_toast","z":"bd04d58b.baf0c8","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Motor is ON","name":"ON Dialog","x":630,"y":200,"wires":[[]],"inputLabels":["JSON"]},{"id":"6e1869e1.4a4468","type":"ui_ui_control","z":"3887df6d.a64d1","name":"To Splash Screen","events":"all","x":660,"y":420,"wires":[[]]},{"id":"395c4a3c.c88e76","type":"ui_switch","z":"bd04d58b.baf0c8","name":"","label":"Motor Switch","tooltip":"","group":"9afc98d0.aedae8","order":2,"width":"6","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"command\":\"motoron\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"command\":\"motoroff\"}","offvalueType":"json","officon":"","offcolor":"","x":210,"y":140,"wires":[["ac183d14.978ae","1785a374.9f2a1d","badcb942.a89b88"]]},{"id":"f9857696.f3bed8","type":"ui_toast","z":"bd04d58b.baf0c8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Motot is OFF","name":"OFF Dialog","x":630,"y":260,"wires":[[]],"inputLabels":["JSON"]},{"id":"1785a374.9f2a1d","type":"switch","z":"bd04d58b.baf0c8","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"motoron","vt":"str"},{"t":"eq","v":"motoroff","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":220,"wires":[["7754044e.54910c"],["f9857696.f3bed8"]]},{"id":"f92576e8.2134c8","type":"ui_button","z":"bd04d58b.baf0c8","name":"","group":"6e51df2a.4c568","order":1,"width":"1","height":"1","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":310,"y":560,"wires":[["498e91c9.ff7c8"]]},{"id":"498e91c9.ff7c8","type":"ui_ui_control","z":"bd04d58b.baf0c8","name":"To Home","events":"all","x":540,"y":560,"wires":[[]]},{"id":"602b8db8.d12e24","type":"function","z":"bd04d58b.baf0c8","name":"Global Variable Declaration","func":"global.set(\"Current\",number);\nglobal.set(\"Temp\",number);\nglobal.set(\"Status\",Boolean)","outputs":1,"noerr":0,"x":280,"y":60,"wires":[[]]},{"id":"badcb942.a89b88","type":"function","z":"bd04d58b.baf0c8","name":"Time","func":"let difference = 0;\nvar day = new Date();\nif (msg.payload.command == \"motoron\")\n{\n    msg.payload = \"00:00:00\";\n    global.set(\"Current\",day.getTime())\n    global.set(\"Temp\",0)\n    global.set(\"Status\",true)\n}\nelse\nif (msg.payload.command == \"motoroff\")\n{\n    global.set(\"Status\",false)\n    difference = day.getTime() - global.get(\"Current\");\n    {\n        var milliseconds = parseInt((difference%1000)/100)\n        , seconds = parseInt((difference/1000)%60)\n        , minutes = parseInt((difference/(1000*60))%60)\n        , hours = parseInt((difference/(1000*60*60))%24);\n\n    hours = (hours < 10) ? \"0\" + hours : hours;\n    minutes = (minutes < 10) ? \"0\" + minutes : minutes;\n    seconds = (seconds < 10) ? \"0\" + seconds : seconds;\n\n    msg.payload =  hours + \":\" + minutes + \":\" + seconds;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[[]]},{"id":"ded4e8f8.163978","type":"ui_text","z":"bd04d58b.baf0c8","group":"9afc98d0.aedae8","order":0,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":420,"wires":[]},{"id":"83773ffc.f1ab6","type":"function","z":"bd04d58b.baf0c8","name":"Counter Function","func":"var time = global.get(\"Temp\");\nvar status = global.get(\"Status\");\nif(status == true){\ntime = time+1000;\nglobal.set(\"Temp\",time);\n}\n    var milliseconds = parseInt((time%1000)/100)\n        , seconds = parseInt((time/1000)%60)\n        , minutes = parseInt((time/(1000*60))%60)\n        , hours = parseInt((time/(1000*60*60))%24);\n\n    hours = (hours < 10) ? \"0\" + hours : hours;\n    minutes = (minutes < 10) ? \"0\" + minutes : minutes;\n    seconds = (seconds < 10) ? \"0\" + seconds : seconds;\n\n    msg.payload =  hours + \":\" + minutes + \":\" + seconds;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["ded4e8f8.163978"]]},{"id":"894fb463.661ae8","type":"inject","z":"bd04d58b.baf0c8","name":"Counter","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":420,"wires":[["83773ffc.f1ab6"]]},{"id":"94f21ab7.cfb498","type":"ui_button","z":"bd04d58b.baf0c8","name":"","group":"6e51df2a.4c568","order":1,"width":"1","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":480,"wires":[["6837c8df.77fab8"]]},{"id":"6837c8df.77fab8","type":"function","z":"bd04d58b.baf0c8","name":"Reset Function","func":"var status = global.get(\"Status\");\nif(status == false){\n    global.set(\"Temp\",0);\n}","outputs":1,"noerr":0,"x":520,"y":480,"wires":[[]]},{"id":"9cd2fec7.d2a57","type":"ui_template","z":"501ac050.9ebde","group":"23773513.e3f38a","name":"Background","order":2,"width":0,"height":0,"format":"\n<style>\n    body {\n        background-image: url(\"https://wallpaperaccess.com/full/775146.gif\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size:cover;\n        \n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":470,"y":60,"wires":[[]]},{"id":"67d14e50.bb8ea","type":"ui_template","z":"4b06dc77.7b3c84","group":"696d436d.7164ec","name":"Background","order":2,"width":0,"height":0,"format":"\n<style>\n    body {\n        background-image: url(\"https://i.gifer.com/EF65.gif\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size:cover;\n        \n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":490,"y":40,"wires":[[]]},{"id":"7f936ec1.d6a51","type":"ui_template","z":"3887df6d.a64d1","group":"ac159b26.babf68","name":"Background","order":2,"width":0,"height":0,"format":"\n<style>\n    body {\n        background-image: url(\"https://i.imgur.com/BoloeNc.gif?noredirect\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size:cover;\n        \n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":510,"y":80,"wires":[[]]},{"id":"c8637179.a8425","type":"ui_template","z":"bd04d58b.baf0c8","group":"6e51df2a.4c568","name":"Background","order":2,"width":0,"height":0,"format":"\n<style>\n    body {\n        background-image: url(\"https://i.gifer.com/EF65.gif\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size:cover;\n        \n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":60,"wires":[[]]}]